@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 5vh;
  }

  .header--title {
    margin: 1.6rem;
    color: #2e9cca;
    margin-bottom: 3vh;
  }

  .header--search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .header--search button {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
  }

  .header--search .icon {
    color: #2e9cca;
    font-size: 2.4rem;
  }

  .header--search button:hover {
    cursor: pointer;
  }

  .header--search input {
    margin: 0;
    border: 3px solid #2e9cca;
    outline: none;
    border-radius: 1em;
    padding: 1vh 1.5vw;
    width: 75vw;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 5vh;
  }

  .header--title {
    margin: 1.6rem;
    color: #2e9cca;
    margin-bottom: 3vh;
  }

  .header--search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .header--search button {
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.1s;
    margin: 0;
  }

  .header--search .icon {
    color: #2e9cca;
    font-size: 3.2rem;
  }

  .header--search button:hover {
    cursor: pointer;
    transform: scale(0.9);
  }

  .header--search input {
    margin: 0;
    border: 3px solid #2e9cca;
    outline: none;
    border-radius: 1em;
    padding: 1vh 1.5vw;
    width: 75vw;
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 10vh;
  }

  .header--title {
    margin: 1.6rem;
    color: #2e9cca;
  }

  .header--search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .header--search button {
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.1s;
    margin: 0;
  }

  .header--search .icon {
    color: #2e9cca;
    font-size: 2.4rem;
  }

  .header--search button:hover {
    cursor: pointer;
    transform: scale(0.9);
  }

  .header--search input {
    margin: 0;
    border: 3px solid #2e9cca;
    outline: none;
    border-radius: 1em;
    padding: 1vh 0.5vw;
    width: 15vw;
  }
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.weather h1 {
  color: #2e9cca;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.weather--loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .weather-data {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #464866;
    border-radius: 1em;
    margin-bottom: 5vh;
    box-shadow: 0 0.5vh 1em #29648a;
  }

  .weather-data--city-name {
    background-color: #2e9cca;
    color: #464866;
    margin: 0;
    width: 100%;
    height: 7.5vh;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weather-data--city-name p {
    font-size: 1.75rem;
  }

  .weather-data--details {
    font-size: 1.6rem;
    padding: 3vh 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2e9cca;
  }

  .weather-data--city-name img {
    padding: 0;
    margin: 0;
    height: fit-content;
  }

  .weather-data--details p {
    width: 100%;
    text-align: center;
  }

  .weather-forecast {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #464866;
    border-radius: 1em;
    margin-bottom: 5vh;
    box-shadow: 0 0.5vh 1em #29648a;
  }

  .weather-forecast--title {
    background-color: #2e9cca;
    color: #464866;
    margin: 0;
    width: 100%;
    height: 7.5vh;
    padding: 0 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weather-forecast--title p {
    font-size: 1.75rem;
  }

  .weather-forecast--days {
    font-size: 1.75rem;
    padding: 3vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #2e9cca;
  }

  .weather-forecast--day {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .weather-forecast--day p {
    margin: 0.75vh 0 0.25vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .weather-data {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #464866;
    border-radius: 1em;
    margin-bottom: 5vh;
    box-shadow: 0 0.5vh 1em #29648a;
  }

  .weather-data--city-name {
    background-color: #2e9cca;
    color: #464866;
    margin: 0;
    width: 100%;
    padding: 0 2vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weather-data--city-name p {
    font-size: 2rem;
  }

  .weather-data--details {
    font-size: 1.75rem;
    padding: 2vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 3vh;
    align-items: center;
    justify-items: center;
    color: #2e9cca;
  }

  .weather-data--city-name img {
    padding: 0;
    margin: 0;
    height: fit-content;
  }

  .weather-data--details p:nth-of-type(odd) {
    margin-left: 5vw;
    width: 100%;
    text-align: start;
  }

  .weather-data--details p:nth-of-type(even) {
    margin-right: 5vw;
    width: 100%;
    text-align: end;
  }

  .weather-forecast {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #464866;
    border-radius: 1em;
    margin-bottom: 5vh;
    box-shadow: 0 0.5vh 1em #29648a;
  }

  .weather-forecast--title {
    background-color: #2e9cca;
    color: #464866;
    margin: 0;
    width: 100%;
    height: 5vh;
    padding: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weather-forecast--title p {
    font-size: 2rem;
  }

  .weather-forecast--days {
    font-size: 2rem;
    padding: 2vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #2e9cca;
  }

  .weather-forecast--day {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .weather-forecast--day p {
    margin: 0.75vh 0 0.25vh;
  }
}
@media screen and (min-width: 1024px) {
  .weather-data {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #464866;
    border-radius: 1em;
    margin-bottom: 5vh;
    box-shadow: 0 0.5vh 1em #29648a;
  }

  .weather-data--city-name {
    background-color: #2e9cca;
    color: #464866;
    margin: 0;
    padding: 0 1vw;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weather-data--city-name p {
    font-size: 2rem;
  }

  .weather-data--details {
    font-size: 1.75rem;
    padding: 1vh 0;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
    color: #2e9cca;
  }

  .weather-data--city-name img {
    margin: 0;
    height: fit-content;
  }

  .weather-data--details p:nth-of-type(odd) {
    margin-left: 3vw;
    width: 100%;
    text-align: start;
  }

  .weather-data--details p:nth-of-type(even) {
    margin-right: 3vw;
    width: 100%;
    text-align: end;
  }

  .weather-forecast {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #464866;
    border-radius: 1em;
    margin-bottom: 5vh;
    box-shadow: 0 0.5vh 1em #29648a;
  }

  .weather-forecast--title {
    background-color: #2e9cca;
    color: #464866;
    margin: 0;
    width: 100%;
    height: 5vh;
    padding: 0 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .weather-forecast--title p {
    font-size: 2rem;
  }

  .weather-forecast--days {
    font-size: 2rem;
    padding: 1vh 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    color: #2e9cca;
  }

  .weather-forecast--day {
    margin: 1em 0;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .weather-forecast--day p {
    margin: 1vh 0 0.5vh;
  }
}
